<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="bgtoolbar">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title class="center">IT Shop</ion-title>
    </div>
    </ion-toolbar>
    </ion-header>

<ion-content [fullscreen]="true">
 <div class="bg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/img/product/15promax.webp" alt="">
        <ion-label>
          <div class="center">
          Iphone 15 Pro Max <br>
          ราคา 44,900 ยาท
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
          </div>
        </ion-label>
      </ion-col>
      <ion-col>
        <img src="assets/img/product/f23fe.webp" alt="">
        <div class="center">
          Sumsung F23 <br>
          ราคา 22,900 ยาท
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/product/ipadair5.webp" alt="">
        <div class="center">
          Ipadair air 5 <br>
          ราคา 20,000 ยาท
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
          </div>
      </ion-col>
      <ion-col>
        <img src="assets/img/product/mi-14tpro.jpg" alt="">
        <div class="center">
          xiaomi 14 pro <br>
          ราคา 22,700 ยาท
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/product/mipad5.jpg" alt="">
        <div class="center">
          xiaomi pad 5<br>
          ราคา 19,900 ยาท
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
          </div>
      </ion-col>
      <ion-col>
        <img src="assets/img/product/s24.webp" alt="">
        <div class="center">
          Sumsung s24 <br>
          ราคา 44,900 ยาท
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/product/ts9.jpg" alt="">
        <div class="center">
          Sumsung tab s 9 <br>
          ราคา 30,200 ยาท
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
          </div>
      </ion-col>
      <ion-col>
        <img src="assets/img/product/vivo-y20.png" alt="">
        <div class="center">
          Vivo y 20 <br>
          ราคา 5,690 ยาท
          <ion-button>
            <ion-icon name="cart-outline"></ion-icon>
            สั่งซื้อ
          </ion-button>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
 </div>
</ion-content>
